<div class="off">
  <% if not comment.commenter.nil? %>
    <strong><%= comment.commenter %></strong>
    <%= comment.body %>
    <%= link_to 'âŠ', [comment.article, comment],
                 method: :delete,
                 data: { confirm: 'Delete comment?' } %>
  <% end %>
</div>