<% if @person.errors.any? %>
  $("#error_explanation_person").html('<ul class="collection with-header"><li class="collection-header"><h4><%= j pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h4></li><% @person.errors.full_messages.each do |msg| %><li class="collection-item"><%= j msg %></li><% end %></ul>');
<% else %>
  $("#error_explanation_person").html('');
  $("#person_<%= @person.id %>").replaceWith('<%= j render @person %>')
<% end %>
