<% @title=@group.name %>

<div class="card">
  <div class="card-content">
    <span class="card-title">Instructions</span><br>
    <p style="white-space: pre-wrap;"><%= @group.instructions %></p>
  </div>
</div>

<div id="error_explanation" class="card" style="color: red;">
</div>

<div class="card">
  <div class="card-content" id="join_group">
    <%= render 'people/form' %>
  </div>
</div>

<% if @group.public? %>
  <ul id="people" class="collapsible" data-collapsible="accordion">
    <li class="collapsible-title"><div class="collapsible-header"><span>Participants</span></div></li>
    <%= render @group.people %>
  </ul>
<% else %>
  <ul id="people" class="collection with-header">
    <li class="collection-header">Participants</li>
    <%= render @group.people %>
  </ul>
<% end %>
