<% if @group.errors.any? %>
$("#error_explanation").html('<ul class="collection with-header"><li class="collection-header"><h4><%= j pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h4></li><% @group.errors.full_messages.each do |msg| %><li class="collection-item"><%= j msg %></li><% end %></ul>');
<% else %>
$("#error_explanation").html('');

$(".head h1").text("<%= @group.name %>");

document.title = "<%= @group.name %>";
<% end %>
